{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saclab</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'projects/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'projects/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Saclab
                    </a>
                </li>
                <li>
                    <a href="#">Mon profil ({{ username }})</a>
                </li>
                <li>
                    <a href="/projects">Mes projets</a>
                </li>
                <li>
                    <a href="#">Explorer des projets</a>
                </li>
                <li>
                    <a href="#">Mes tâches</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>{{ projectname }}</h1>
                <h3>{{ branchname }}</h3>
                <p></p>
                <button type="button" class="btn btn-secondary"><a style="color: white;" href="/projects/view/{{ projectid }}">Retour au projet</a></button>
                <p></p>
                {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                        Votre commentaire a été ajouté avec succès.
                    </div>
                {% endif %}
                <p>
                    Nombre de commentaires : {{ n_comments }}
                </p>
                {% if comments %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Type</th>
                            <th scope="col">Commentaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.username }}</td>
                                {% if comment.type == 0 %}   <td><button type="button" class="btn btn-info">Info</button></td>
                                {% elif comment.type == 1 %} <td><button type="button" class="btn btn-warning">Suggestion</button></td>
                                {% elif comment.type == 2 %} <td><button type="button" class="btn btn-danger">Problème</button></td>
                                {% elif comment.type == 3 %} <td><button type="button" class="btn btn-success">Solution</button></td>
                                {% endif %}
                                <td>{{ comment.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        Ce projet ne contient pas encore de commentaires.
                    </div>
                {% endif %}
                <p></p>
                <h4>Ajouter un commentaire</h4>
                <p></p>
                <form method="POST" action="/projects/view/{{ projectid }}/{{ branchid }}">
                    <div class="form-group">
                        <label class="sr-only" for="comment">Commentaire</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="comment" name="comment" placeholder="Commentaire" style="width: 60%;">
                    </div>
                    
                    <div class="form-group">
                    <select class="custom-select" name="type" style="width: 15%;">
                        <option value="0" selected>Information</option>
                        <option value="1">Suggestion</option>
                        <option value="2">Problème</option>
                        <option value="3">Solution</option>
                    </select>
                    </div>

                    <button type="submit" class="btn btn-primary mb-2">Envoyer</button>
                </form>   
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'projects/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'projects/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <!-- <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> 

    To use : <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> -->

</body>

</html>
