{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saclab</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'projects/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'projects/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Saclab
                    </a>
                </li>
                <li>
                    <a href="#">Mon profil ({{ username }})</a>
                </li>
                <li>
                    <a href="/projects">Mes projets</a>
                </li>
                <li>
                    <a href="#">Explorer des projets</a>
                </li>
                <li>
                    <a href="#">Mes tâches</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div style="text-align: center;">
                    <img src="{% static 'projects/logo.png' %}" />
                </div>
                <div class="jumbotron">
                    <h1 class="display-4">Bienvenue sur Saclab</h1>
                    <p class="lead">Saclab est un outil simple de collaboration en ligne.</p>
                    <hr class="my-4">
                    <p>Créez un projet, partagez-le, laissez vos amis ou collègues proposer des idées et des solutions et répartissez vous des tâches !</p>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'projects/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'projects/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <!-- <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> 

    To use : <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> -->

</body>

</html>
