{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saclab</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'projects/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'projects/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Saclab
                    </a>
                </li>
                <li>
                    <a href="#">Mon profil ({{ username }})</a>
                </li>
                <li>
                    <a href="/projects">Mes projets</a>
                </li>
                <li>
                    <a href="#">Explorer des projets</a>
                </li>
                <li>
                    <a href="#">Mes tâches</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>{{ projectname }}</h1>
                <p></p>
                <p>
                    <a href="/projects/edit/{{ id }}"><button type="button" class="btn btn-primary">Editer le projet</button></a>
                    <a href="/projects"><button type="button" class="btn btn-secondary">Retour à la liste des projets</button></a>
                </p>
                <p>
                    {{ description }}
                </p>    
                {% if branches %}
                    <div class="card-deck">
                    {% for branch in branches %}
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">{{ branch.branchname }}</h5>
                            <p class="card-text"><a href="/projects/view/{{ id }}/{{ branch.branchid }}">Voir cette branche</a></p>
                            <p class="card-text"><small class="text-muted">{{ branch.n_comments }} commentaires</small></p>
                            </div>
                        </div>
                     {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        Ce projet ne contient pas encore de branche.
                    </div>
                {% endif %}
                <p></p>
                <p>
                    <button type="button" class="btn btn-primary"><a href="/projects/add/{{ id }}" style="color: white;">Créer une nouvelle branche</a></button>
                </p>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'projects/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'projects/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <!-- <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> 

    To use : <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> -->

</body>

</html>
